@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  animation: fog 3s 1s forwards;
  opacity: 0.9;
}
.loader__spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #FF79DA;
  border-right-color: #9356DC;
  animation: spin 1s infinite linear;
}

@keyframes fog {
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
header h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
  box-shadow: 0px 1px 5px grey;
  position: relative;
}

.location {
  text-align: center;
  background-color: #E8E8E8;
  padding: 18px;
}
.location i {
  font-size: large;
  color: #303030;
  margin-right: 10px;
  padding-left: 40px;
}
.location input {
  background-color: #E8E8E8;
  border: none;
}

.hero {
  text-align: center;
  background-color: #F5F5F5;
  padding: 50px 30px 70px;
  margin-bottom: 40px;
}
.hero h2 {
  margin: 0;
  padding: 0 60px;
  font-weight: 800;
}
.hero p {
  color: grey;
  font-size: larger;
  margin-bottom: 50px;
}
.hero a {
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 40px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.4);
  transition: 1s;
}
.hero a:hover {
  opacity: 0.8;
  box-shadow: 0px 10px 20px -10px #000000;
}

.operation {
  padding: 0 20px;
  margin-bottom: 50px;
}
.operation__list__card {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  margin: 20px 0 20px 10px;
  padding: 10px 0;
  border-radius: 15px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.4);
  transition: 1s;
}
.operation__list__card:hover {
  cursor: pointer;
  background-color: #ece2f8;
}
.operation__list__card * {
  margin-right: 20px;
}
.operation__list__card span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #9356DC;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-left: -10px;
  font-size: small;
}
.operation__list__card i {
  color: grey;
  transition: 1s;
}
.operation__list__card i:hover {
  color: #9356DC;
}
.operation__list__card .fa-mobile-alt {
  margin-right: 26px;
}
.operation__list__card .fa-list-ul {
  margin-right: 22px;
}
.operation__list__card p {
  font-size: small;
  font-weight: 600;
}

#restaurant {
  padding: 40px 20px;
  background-color: #F5F5F5;
}

.restaurant__list__card a {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  position: relative;
}
.restaurant__list__card img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 180px;
}
.restaurant__list__card__new {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 12px;
  background-color: #99E2D0;
  color: #378a75;
  border-radius: 2px;
}
.restaurant__list__card__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 14px;
  margin-bottom: 14px;
}
.restaurant__list__card__text h3 {
  margin: 18px 0 8px 0;
}
.restaurant__list__card__heart {
  font-size: x-large;
  position: absolute;
}
.restaurant__list__card__heart--fill {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: x-large;
  position: relative;
  opacity: 0;
}
.restaurant__list__card__heart--fill:hover {
  opacity: 1;
  transition: opacity 1s;
}

.footer {
  background-color: #303030;
  padding: 30px 25px;
  color: white;
}
.footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: larger;
  font-weight: 100;
  margin: 0 0 20px 0;
}
.footer p {
  cursor: pointer;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer__utensils {
  margin-right: 14px;
}
.footer__helping {
  margin-right: 8px;
}

/*# sourceMappingURL=style.css.map */
